__pycache__/
.DS_Store
Project/3D-R1/pretrained/

Project/3DThinker/data/*
Project/3DThinker/models/
Project/3DThinker/swanlog/
Project/3DThinker/wandb/*
*.log
Project/Fin3R/checkpoints

Project/MindCube/data

Project/minimind/out

Project/minimind-v/out

Project/minimind-v/model/vision_model
Project/minimind-v/model/MiniMind2-V
checkpoints



