accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
async-timeout
attrs
certifi
charset-normalizer
click
datasets
dill
filelock
frozenlist
fsspec
gitdb
GitPython
hf-xet
huggingface-hub
idna
Jinja2
markdown-it-py
MarkupSafe
mathruler
mdurl
mpmath
multidict
multiprocess
networkx
numpy==2.2.6
packaging
pandas
pillow
platformdirs
propcache
protobuf
psutil
pyarrow
pydantic
pydantic_core
Pygments
pylatexenc
python-dateutil
pytz
PyYAML
qwen-vl-utils
regex
requests
rich
safetensors
sentry-sdk
six
smmap
sympy
tokenizers
tqdm
triton
trl
typing-inspection
typing_extensions
tzdata
urllib3
xxhash
yarl
